@{
  Layout = "_Layout";
}

@model TreatTracker.Models.Treat

<h2>Add a treat</h2>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>
<hr>

@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.Name):</p>
  <p>@Html.TextBoxFor(model => model.Name)</p>

  <p>@Html.LabelFor(model => model.Description):</p>
  <p>@Html.TextBoxFor(model => model.Description)</p>

  <p>URL to image: </p>
  @Html.TextBoxFor(model => model.ImageURL)
  <br>


  <input type="submit" value="Add new treat" class="btn-default" />
}
<hr>
<br>
<p>@Html.ActionLink("Cancel", "Index")</p>
