@{
  Layout = "_Layout";
}

@model TreatTracker.Models.Treat

<h2>Edit</h2>
<hr>

<h4>Edit this treat: @Html.DisplayFor(model => model.Name)</h4>
<h6>Description: @Html.DisplayFor(model => model.Description)</h6>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  <p>@Html.LabelFor(model => model.Name):</p>
  <p>@Html.EditorFor(model => model.Name)</p>
  
  <p>@Html.LabelFor(model => model.Description):</p>
  <p>@Html.EditorFor(model => model.Description)</p>

  <p>URL to image: </p>
  <p>@Html.TextBoxFor(model => model.ImageURL)</p>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
